.button {
  height: 65px;
  padding: 20px 30px;
  font-size: 20px;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--main-color);
  box-shadow: 0 4px 4px rgb(0 0 0 / 15%);
  border-radius: 10px;
  border: none;

  &:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
  }

  &_small {
    padding: 15px;
    font-size: 16px;
  }
}
