.title {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  &::before {
    content: ' ';
    position: absolute;
    width: 45px;
    height: 45px;
    z-index: -1;
    top: -7%;
    left: -15px;
    background-color: var(--secondary-color);
    border-radius: 100%;
  }

  &_section {
    text-align: center;
    text-decoration: underline;
  }
}
