<section class="about">
  <div class="container about__wrapper">
    <div class="about__section" id="about">
      <h2 class="title title_section">Про меня</h2>
      <div class="about__text">
        <p>Мне 33 года. Раньше я работал продавцом в магазине компьютерной техники.</p>
        <p>В какой-то момент решил сменить профессию и попробовать себя в программировании.</p>
        <p>
          Начинал несколько направлений - Golang, Kotlin, тестирование и остановился на JavaScript
          frontend.
        </p>
        <p>В настоящее время я ищу работу frontend разработчика.</p>
      </div>
    </div>

    <div class="about__section" id="contacts">
      <h2 class="title title_section">Контакты</h2>
      <ul class="about__contacts">
        <li>Phone: <a href="tel:+79834092337" target="_blank">+79834092337</a></li>
        <li>Email: <a href="mailto:daushakov89@mail.ru" target="_blank">daushakov89@mail.ru</a></li>
        <li>Telegram: <a href="https://t.me/daushakov89" target="_blank">@daushakov89</a></li>
        <li>GitHub: <a href="https://github.com/DimkaUsh" target="_blank">@DimkaUsh</a></li>
        <li>Discord: DmitriiUshakov(#5707)(@DimkaUsh)</li>
      </ul>
    </div>
  </div>
</section>
