<section class="about">
  <div class="container about__wrapper">
    <div class="about__content">
      <h2 class="title title_section">Про меня</h2>
      <div class="about__text">
        Мне 33 года. Раньше я работал продавцом в магазине компьютерной техники. В какой-то момент
        решил попробовать себя в программировании. Я попробовал несколько направлений и решил
        выбрать frontend. В настоящее время я ищу работу frontend разработчика.
      </div>
    </div>

    <div class="about__img">
      <img src="" alt="foto2" />
    </div>
  </div>
</section>
