<div class="aside">
  <div class="overlay overlay_aside">
    <div class="overlay_black"></div>
    <nav class="aside__menu">
      <ul class="aside__menu-list">
        <li><a class="menu__link" href="#about">Про меня</a></li>
        <li><a class="menu__link" href="#contacts">Контакты</a></li>
        <li><a class="menu__link" href="#education">Образование</a></li>
        <li><a class="menu__link" href="#skills">Навыки</a></li>
        <li><a class="menu__link" href="#projects">Проекты</a></li>
      </ul>
    </nav>
  </div>
</div>
