<section class="codes">
  <div class="container">
    <div class="project-code"></div>

    <div class="codewars">
      <h3>Task in CodeWars:</h3>
      <div class="task">
        Your goal in this kata is to implement a difference function, which subtracts one list from
        another and returns the result.
      </div>
      <h3>Solution</h3>
      <pre>
        <code class="code">function arrayDiff(a, b) {
        return a.filter(e => !b.includes(e));
        }
        </code>
    </pre>
    </div>
  </div>
</section>
