<section class="education" id="education">
  <div class="container education__wrapper">
    <h2 class="title title_section">Образование</h2>
    <div class="education__content">
      <div class="education__item">
        <p class="education__description">
          <span>beONmax</span> - Курс ВЕБ-разработчик 2021 - с нуля до результата!
        </p>
        <div class="education__buttons">
          <button class="button certificate-button" data-course="beonmax">Сертификат</button>
          <a class="button" href="https://beonmax.com/courses/web-razrabotchik/" target="_blank"
            >Страница курса</a
          >
        </div>
      </div>
      <div class="education__item">
        <p class="education__description">
          <span>RS School</span> - Курс JS / FRONT-END. STAGE 0 (RU)
        </p>
        <div class="education__buttons">
          <button class="button certificate-button" data-course="rsstage0">Сертификат</button>
          <a class="button" href="https://rs.school/js-stage0/" target="_blank">Страница курса</a>
        </div>
      </div>
      <div class="education__item">
        <p class="education__description">
          <span>Udemy</span> - Полный курс по JavaScript + React - с нуля до результата
        </p>
        <div class="education__buttons">
          <button class="button certificate-button" data-course="udemy">Сертификат</button>
          <a class="button" href="https://www.udemy.com/course/javascript_full/" target="_blank"
            >Страница курса</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
