<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a class="header__logo" href="#">FRONTDEV</a>
      <nav class="menu">
        <ul class="menu__list">
          <li><a class="menu__link" href="#">Про меня</a></li>
          <li><a class="menu__link" href="#">Образование</a></li>
          <li><a class="menu__link" href="#">Навыки</a></li>
          <li><a class="menu__link" href="#">Проекты</a></li>
          <li><a class="menu__link" href="#">Примеры кода</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
