<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a class="header__logo" href="#">FRONTDEV</a>
      <nav class="menu">
        <ul class="menu__list">
          <li><a class="menu__link" href="#about">Про меня</a></li>
          <li><a class="menu__link" href="#contacts">Контакты</a></li>
          <li><a class="menu__link" href="#education">Образование</a></li>
          <li><a class="menu__link" href="#skills">Навыки</a></li>
          <li><a class="menu__link" href="#projects">Проекты</a></li>
        </ul>
      </nav>

      <div class="hamburger">
        <span class="hamburger__el"></span>
        <span class="hamburger__middle"></span>
        <span class="hamburger__visible"></span>
        <span class="hamburger__el"></span>
      </div>
    </div>
  </div>
</header>
