<section class="promo">
  <div class="container promo__wrapper">
    <div class="promo__img">
      <img src="assets/img/cv.jpg" alt="foto" />
    </div>

    <div class="promo__content">
      <h1 class="title">Меня зовут Дмитрий Ушаков</h1>
      <div class="promo__decription">
        <p class="promo__subtitle">Я фронтенд-разработчик</p>
        <p class="promo__subtitle">из Иркутска</p>
      </div>
      <div class="promo__buttons">
        <a href="#" class="button">Про меня</a>
        <a href="#" class="button">Проекты</a>
      </div>
    </div>
  </div>
</section>
