<section class="skills">
  <div class="container skills__wrapper">
    <div class="slider slider_skills">
      <div class="slider__carousel">
        <img class="slider__img" src="assets/img/html5.png" alt="html5" />
      </div>
    </div>

    <div class="skills__content">
      <h2 class="title title_section">Навыки</h2>
      <div class="skills__text">
        <ul>
          <li>HTML</li>
          <li>CSS, SCSS</li>
          <li>JavaScript</li>
          <li>React</li>
        </ul>
        <ul>
          <li>БЭМ</li>
          <li>Bootstrap</li>
          <li>Gulp</li>
          <li>Webpack</li>
          <li>Git, Github</li>
        </ul>
      </div>
    </div>
  </div>
</section>
