<section class="skills" id="skills">
  <div class="container skills__wrapper">
    <div class="slider slider_skills">
      <div class="slider__carousel">
        <img class="slider__img" src="assets/img/html5.png" alt="html5" />
      </div>
    </div>

    <div class="skills__content">
      <h2 class="title title_section">Навыки</h2>
      <div class="skills__text">
        <ul>
          <li>HTML (БЭМ, Bootstrap, семантика)</li>
          <li>CSS (flex, grid, animation, SCSS, SASS)</li>
          <li>JavaScript(ES6, работа с DOM, Fetch, API, Classes)</li>
          <li>React (State, Store, Hooks and Classes Components)</li>
          <li>React-Redux</li>
          <li>Redux Toolkit</li>
        </ul>
        <ul>
          <li>Gulp</li>
          <li>Webpack</li>
          <li>Git, Github</li>
        </ul>
      </div>
    </div>
  </div>
</section>
