.footer {
  height: 70px;
  font-size: 23px;

  &__wrapper {
    height: 100%;
    padding: 15px;
    color: var(--white-color);
    background-color: var(--main-color);
  }

  &__text {
    text-align: center;
  }
}
