.header {
  height: 70px;
  font-size: 23px;

  &__wrapper {
    position: relative;
    top: -5px;
    height: 100%;
    padding: 22px 20px 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: 8px;
  }

  a {
    color: var(--white-color);
    text-decoration: none;
    &:hover {
      color: var(--secondary-color);
    }
  }
}

.menu {
  width: 700px;
  height: 100%;

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
}
