.header {
  height: 70px;
  font-size: 23px;

  &__wrapper {
    position: relative;
    top: -5px;
    height: 100%;
    padding: 22px 20px 0;

    display: flex;
    justify-content: space-between;
    column-gap: 10 0px;
    background-color: #212121;
    color: #fff;
    border-radius: 8px;
  }

  a {
    color: #ffffff;
    text-decoration: none;
  }
}

.menu {
  width: 700px;
  height: 100%;

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
}
