.projects {
  min-height: 650px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__content {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-template-rows: repeat(2, 300px);
    row-gap: 30px;
    column-gap: 50px;
    img {
      width: 100%;
    }
  }

  &__item {
    img {
      width: 100%;
    }

    &-title {
      font-size: 25px;
      text-align: center;
    }

    &-content {
      width: 100%;

      p {
        margin-top: 10px;
        font-size: 18px;
      }
    }

    &-footer {
      text-align: center;
    }
  }
}

.back-side {
  padding: 20px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: var(--main-color) 1px solid;
  background-color: #77aacf;
}
